/*
 * VENDORS
 * ---------------------------------------- */

@import "~normalize.css"


/*
 * VARS
 * ---------------------------------------- */

brand_yellow = #e0a126
tablet = 'screen and (max-width 54rem)'
tablet_mw = 'screen and (min-width 54rem)'
phone = 'screen and (max-width 34rem)'


/*
 * COMMON
 * ---------------------------------------- */

body
  background #232323
  color #FFF
  font-size 15px
  font-family 'Roboto', sans-serif

a 
  color inherit

main.wrapper
  max-width 48rem
  margin 0 auto
  padding 0 1rem

.logo 
  padding 4.5rem 1.5rem 2rem
  &__image 
    display block
    margin 0 auto
    @media tablet
      max-width 11rem
    @media phone
      max-width 9rem
  @media tablet
    padding 2.5rem 1.5rem

.events
.event__tags
.speakers__list
.speaker
.event__schedule-list
  list-style none
  padding 0
  margin 0


/*
 * EVENTS & EVENT
 * ---------------------------------------- */

.event
  padding 2.5rem
  margin-bottom 2rem
  position relative
  @media tablet
    padding 2rem 1.5rem 1.5rem
  &__title
    font-size 2rem
    margin 0 0 .5rem
    @media tablet
      font-size 1.5rem
  &__date
    border 2px dashed brand_yellow
    width auto
    padding .5rem .4rem .4rem
    display inline-block
    line-height 1em
    color brand_yellow
    border-radius 2px
    text-transform uppercase
    letter-spacing 1px
    margin-bottom .75rem
    font-weight 400
  &__subtitle
    font-size 1.25rem
    margin 0 0 .5rem
    @media tablet
      font-size .95rem
  &__abstract 
    line-height 1.4em
    color #CCC
    @media tablet
      display none
  &__eventbrite 
    iframe 
      border 0
      width 100%
      min-height 25rem
      border-radius 2px
  &__speakers
    padding .5rem 0 1rem
    @media tablet
      padding-bottom 0
  &__section-title
    text-transform uppercase
    letter-spacing 1px
    color brand_yellow
    font-size .8rem
    margin-top 2rem
    margin-bottom .75rem
    @media tablet
      margin-top: 1.4rem
  &__schedule
    border-top 4px double #3C3C3C
    margin-top 1.5rem
    padding-top 1.5rem
    @media tablet
      margin-top 1rem
      padding-top 1rem      
    .event__section-title
      margin-top 0
  &__tags
    .tags__tag
      display inline-block
      font-size .7rem
      padding .2rem .4rem
      background #FFF
      color #000
      text-transform uppercase
      letter-spacing 1px
      margin-right .8rem
      margin-bottom .8rem
      line-height 1em
  &__schedule-list
  .schedule-entry
    list-style none
  .schedule-entry
    margin-bottom .45rem
    > *
      display inline-block
      vertical-align middle
    &__img
      margin-right .6rem
      position relative
      top -.15rem
    &__activity
      margin-left .6rem
      padding-left .6rem
      border-left 1px solid #555
      color #CCC
    &__start:after
      content '-'
      display inline-block
      vertical-align middle
      margin 0 .3rem
  &--past 
    border 1px dashed #555
    margin-left 2rem
    margin-right 2rem
    @media tablet
      margin-left 0
      margin-right 0
  &--current
    background #FFF
    color #222
    border-radius 3px
    box-shadow 0 1rem 2rem -.3rem rgba(0, 0, 0, .8)
    .schedule-entry__activity
    .event__abstract
      color #656565
    .event__schedule
      border-color #EEE
    .schedule-entry__activity
      border-color #BBB
    .event__tags
      .tags__tag
        background #232323
        color #FFF

/*
 * SPEAKERS & SPEAKER
 * ---------------------------------------- */

.speakers__list
.speaker
  display inline-block
.speaker 
  &__name
  &__surname
  .twitter
    margin-left .1rem
  .twitter
    color brand_yellow
  @media phone
    font-size .8rem

.footer
  &__left
  &__right
    font-family monospace
    font-size .8rem
    color #888
    a  
      text-decoration none
      &:hover 
        color brand_yellow

@media tablet
  .footer
    padding 1rem
    text-align center
    &__left
    &__right
      padding .25rem 0

@media tablet_mw
  .footer
    width 100%
    position fixed
    top 50%
    transform translateY(-50%)
      position relative
    > div
      position relative
    &__left
    &__right
      position absolute
      transform-origin left
    &__left
      left 2rem
      transform rotate(-90deg) translateX(-50%)
    &__right
      right 2rem
      transform rotate(90deg) translateX(50%)
      transform-origin: right
