/*
 * VENDORS
 * ---------------------------------------- */

@import "~normalize.css"


/*
 * VARS
 * ---------------------------------------- */

yellow = #e0a126


/*
 * COMMON
 * ---------------------------------------- */

body
  background #232323
  color #FFF
  font-size 15px
  font-family 'Roboto', sans-serif

a 
  color inherit

main.wrapper
  max-width 50rem
  margin 0 auto
  padding 0 1rem

.logo 
  padding 4.5rem 1.5rem 2rem
  &__image 
    display block
    margin 0 auto

.events
.event__tags
.speakers__list
.speaker
.event__schedule-list
  list-style none
  padding 0
  margin 0


/*
 * EVENTS & EVENT
 * ---------------------------------------- */

.event
  padding 2.5rem
  margin-bottom 2rem
  &__title
    font-size 2rem
    margin 0 0 .5rem
  &__subtitle
    font-size: 1.25rem
    margin 0 0 .5rem
  &__abstract 
    line-height: 1.4em
    color #CCC
  &__eventbrite 
    iframe 
      border 0
      width 100%
      min-height 25rem
      border-radius 2px
  &__speakers
    padding: .5rem 0 1rem
  &__section-title
    text-transform uppercase
    letter-spacing 1px
    color yellow
    font-size .8rem
    margin-top 2rem
    margin-bottom .75rem
  &__schedule
    border-top: 4px double #3C3C3C
    margin-top 1.5rem
    padding-top 1.5rem
    .event__section-title
      margin-top 0
  &__tags
    .tags__tag
      display inline-block
      font-size .7rem
      padding .2rem .4rem
      background #FFF
      color #000
      text-transform uppercase
      letter-spacing 1px
      margin-right .8rem
      margin-bottom .8rem
      line-height 1em
  &__schedule-list
  .schedule-entry
    list-style none
  .schedule-entry
    margin-bottom: .45rem
    > *
      display inline-block
      vertical-align middle
    &__img
      margin-right .6rem
    &__activity
      margin-left .6rem
      padding-left .6rem
      border-left 1px solid #555
      color #CCC
    &__start:after
      content '-'
      display inline-block
      vertical-align middle
      margin 0 .3rem
  &--past 
    border 1px dashed #555
    margin-left 2rem
    margin-right 2rem
    @media screen and (max-width 768px)
      margin-left 0
      margin-right 0
  &--current
    background #FFF
    color #222
    border-radius 3px
    box-shadow 0 1rem 2rem -.3rem rgba(0, 0, 0, .8)
    .schedule-entry__activity
    .event__abstract
      color #656565
    .event__schedule
      border-color: #EEE
    .schedule-entry__activity
      border-color #BBB

/*
 * SPEAKERS & SPEAKER
 * ---------------------------------------- */

.speakers__list
.speaker
  display: inline-block
.speaker 
  &__name
  &__surname
  .twitter
    margin-left .3rem
  .twitter
    color yellow
